.SearchForm{
    border: solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: lightgray;
}

.SectionOne {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.SectionTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MealType{
    margin: 0px;
}

.MealButtons{
    text-align: center;
}


.RestrictionsLabel{
    margin-top: 10px;
}

.submit{
    padding: 10px;
    border-radius: 10px;
    font-weight: 900;
    background-color: #915A5A;
    color: peachpuff;
    font-family: 'Anybody', cursive;
}

@media only screen and (max-width: 600px) {

    .SearchForm{
        padding: 10px;
    }
}